<!DOCTYPE html>
<html ng-app="CEINPUT">
<head>
	<title>
		

	</title>

	<!-- wy jquery? -->
	<script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>

	<!-- Lodash -->
	<script src = "https://cdn.jsdelivr.net/lodash/4.15.0/lodash.min.js"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

	<!-- //style -->
	<style type="text/css">


	.col{
		border-style:solid;
		border-color:black;
		border-radius: 3px;
	}
	.jumbotron{text-align: center;}
	input, .submit{width:100%;}
	body {
	    padding-bottom: 50px;
	}
	</style>


</head>
<!-- controller blinds certain code to this section of the DOM -->
<body ng-controller="MainCTRL">

	<div class="container">

		<div class="row">


			<div class="col col-md-2">

			</div>

			<div class="col col-md-8">

				<div class="jumbotron">
					<h1>New Publisher Entry</h1>
					<button ng-click="submitNewEntry()" class="btn btn-primary submit" data-toggle="modal" data-target="#myModal">SUBMIT</button>
				</div>

				<div ng-repeat="(key, value) in currentObject" class="panel panel-default">
					
					<div class="panel panel-heading" >

						<h4>{{key}}</h4>
						
					</div>

					<div class="panel panel-body">
						
					<input ng-model="currentObject[key]"></input>
					<div>{{value}}</div>
					</div>

				</div>
				
				<button ng-click="submitNewEntry()" class="btn btn-primary submit" data-toggle="modal" data-target="#myModal" style="width:100%;height:50px">SUBMIT</button>
			
			</div>

			<div class="col col-md-2">

			</div>

		</div>

	</div>

	<!-- Modal -->
	<div id="myModal" class="modal fade" role="dialog">

		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">

				<div class="modal-header">

					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">{{currentObject["Publisher Name"]}}</h4>

				</div>

				<div class="modal-body">

					<ul ng-repeat="(key, value) in currentObject">
						<p><strong>{{key}}: </strong><span>{{value}}</span></p>
					</ul>

				</div>

				<div class="modal-footer">

					<button type="button" class="btn btn-primary" data-dismiss="modal" style="float:left;">Submit?</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal" style="float:right;">Exit</button>
				</div>

			</div>

		</div>

	</div>



	<!-- {console.log($scope.bookmarks)} -->

	<script type="text/javascript">
		
	//initializes the module, and then controller
	angular.module('CEINPUT', []).controller("MainCTRL", function($scope){

		$scope.currentObject = {
			"Publisher Name": "Cardboard Edison",
			"Publisher Website": "cardboardedison.com",
			"BoardGameGeek Page": "http://boardgamegeek.com/boardgamepublisher/33169/cardboard-edison",
			"Country": "USA",
			"Catalog Size": 1,
			"Representative Games": "Cobras",
			"Planned use of Kickstarter": "Always/Frequently",
			"Accepting Submissions": "no",
			"Categories of Interest": ["Dice", "Thematic", "Micro", "Board", "Gateway", "Card", "Family", "Social", "Euro"],
			"Interested in": "Games with unique mechanics and themes",
			"Contact Info": "cardboardedison@gmail.com",
			"Profile Updated On": "12-Oct-2016"
		};


	});



	</script>

</body>
</html>