<!DOCTYPE html>
<html ng-app="CETABLE">
<head>
	<title>
		

	</title>

	<!-- wy jquery? -->
	<script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>

	<!-- Lodash -->
	<script src = "https://cdn.jsdelivr.net/lodash/4.15.0/lodash.min.js"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

	<!-- //style -->
	<style type="text/css">

	td{padding:5px;}
	.overFlowRight{
		overflow:scroll;
	}
	.smallBox{
		height:100px;
		width:100px;
	}
	.hidden{
		display:hidden;
	}
	.removalButtons{
		margin:3px;
	}
	</style>


</head>
<!-- controller blinds certain code to this section of the DOM -->
<body ng-controller="MainCTRL">

	<div class="container-fluid">

		<div class="row">
			<button class="btn" ng-click="showMe(started)" ng-class="{'btn-primary': started, 'btn-danger': !started}">click</button>


			<input ng-model="searchKeyWord"></input>
			<h3>{{searchKeyWord}}</h3>
			
			<button class="removalButtons btn btn-warning" ng-repeat="x in removedColumns" ng-click="returnColumnView(x)">{{x}}</button>

		</div>	

		<div class="row">
			
			<table class="table table-inverse">
				<tr>
					<td ng-repeat="(key, val) in dummyData[0]" class="{{key}}">
						<button class="btn" ng-click="changeSortType(key)">{{key}}</button>
						<button class="btn btn-danger" ng-click="removeColumnView(key)">X</button>
					</td>

				</tr>

				<tr ng-repeat="x in testArray | filter:searchKeyWord">

				<td>{{x}}</td>
				
				</tr>
			</table>

		</div>
	
	</div>



	<!-- {console.log($scope.bookmarks)} -->

	<script type="text/javascript">
		
	//initializes the module, and then controller
	angular.module('CETABLE', []).controller("MainCTRL", function($scope){

		//list of columns temporarily removed
		$scope.removedColumns = [];

		//makes things hidden
		function removeColumnView(x){
			$('.' + x).addClass("hidden");
			$scope.removedColumns.push(x);
		}
		//reveals hidden things
		function returnColumnView(x){
			$scope.removedColumns.splice($scope.removedColumns.indexOf(x), 1);
			$('.' + x).removeClass("hidden");
			console.log($scope.removedColumns);
		}
		$scope.returnColumnView = returnColumnView;
		$scope.removeColumnView = removeColumnView;


		//reorders the sorting
		function changeSortType(x){

			if($scope.sortType == x && $scope.sortReverse == false){

				$scope.sortReverse = true;
				console.log('now true');

			}else if ($scope.sortType == x && $scope.sortReverse == true){

				$scope.sortReverse = false;
				console.log('now false');

			}else{
				$scope.sortReverse = false;
				console.log('doublefalse');
			}

			$scope.sortType = x;
		}
		$scope.changeSortType = changeSortType;

		//default sort
		$scope.sortType = "Publisher";
		$scope.sortReverse = false;


		$scope.sortOrder = null;
		$scope.filterType = null;

		$scope.sortByThis = null;

		$scope.started = true;


		$scope.inputfield = "";

		$scope.testArray = ['ab', 'ac', 'b', 'd', 'e', 'f', 'gd'];

		//dummy data
		$scope.dummyData = [
			{
				Publisher: "CE", 
				Games: ["Cobras", "Dubai", "Sultana"], 
				DateCreated: "2011",
				AcceptingSubmissions: true,
				Dummy: '0',
				pic: "https://i.imgur.com/vYMdCnD.jpg"

			},
				{
				Publisher: "ZMAN", 
				Games: ["Bob", "Bill", "Bill2"], 
				DateCreated: "2012",
				AcceptingSubmissions: true,
				pic:"https://i.imgur.com/bQDtnrx.jpg"
			},
			{
				Publisher: "Zitnis", 
				Games: ["BH", "CP", "HUTS"], 
				DateCreated: "2012",
				AcceptingSubmissions: false,
				pic: "https://i.imgur.com/bQDtnrx.jpg"
			},
			{
				Publisher: "Doug", 
				Games: ["DDG", "UNPUB"], 
				DateCreated: "1980",
				AcceptingSubmissions: true,
				pic:"https://i.imgur.com/bQDtnrx.jpg"
			}
		]
	
		$scope.searchKeyWord = "";

		function fullSearch(x){
			$scope.dummyData.foreach(function(x){

				if(typeof x == array || typeof x == object){
					console.log("going deeper");
					fullSearch(x);
				}else{
					console.log(x);
				}
			});
		}



		function toggle(x){
			if($scope.started == true){
				$scope.started = false;
			}else if ($scope.started == false){
				$scope.started = true;
			}
			console.log("toggle");
			console.log($scope.started);
		}

		function showMe(){
			console.log($scope.dummyData);
			toggle($scope.started);
		}
		$scope.showMe = showMe;


	
	});



	</script>

</body>
</html>